.common-layout {
  .e-header,
  .e-footer,
  .e-main,
  .e-aside {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .e-header,
  .e-footer {
    background-color: var(--e-color-primary-light-7);
    color: var(--e-text-color-primary);
    text-align: center;
  }

  .e-aside {
    background-color: var(--e-color-primary-light-8);
    color: var(--e-text-color-primary);
    text-align: center;
  }

  .e-main {
    background-color: var(--e-color-primary-light-9);
    color: var(--e-text-color-primary);
    text-align: center;

    height: 150px;
  }
}
